<div class="container">
  <h3 class="bg-primary text-white p-3">{{ getName() }}'s ToDo List</h3>

  <div class="my-1">
    <input type="text" class="form-control" [(ngModel)]="todoText" />
    <button class="btn btn-primary mt-1" (click)="addItem(todoText)">{{Button}}</button>
  </div>

  <table class="table table-bordered table-striped table-hover mt-3">
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Done</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of model.items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.action }}</td>
        <td [ngSwitch]="item.done">
          <input style="margin-right: 10px;" type="checkbox" [(ngModel)]="item.done">
          <span *ngSwitchCase="true">Yes</span>
          <span *ngSwitchDefault>No</span>
        </td>
        <td>
          <button style="margin-right: 15px;" class="btn btn-sm btn-info" (click)="PopulateItem(i)">Edit</button>
          <button  class="btn btn-sm btn-danger" (click)="DeleteItem(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
